.order-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purchase{
    width: 100%;
    color: green;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.purchase__redirect{
    font-size: 20px;
}
.purchase__redirect:hover{
    font-size: 24px;
    color: green;
}
.order-page__right {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 50px 0;
}
.order-page__total-price{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}